node_modules
.DS_Store

# Env
.env
.env.*
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# pnpm
.pnpm-store

# Expo
.expo
dist
web-build

# Nest/TS
coverage

